html
  head
    title="dashboard"
    link(rel='stylesheet' href='/assets/css/style.css')/
  body
    .container
      h1#admin-title Welcome to dashboard 
      #admin-nav
        a(href="/purchase/logout" id="logOutBtn") Logout
